/* Transitions */

body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: #333;
}

/* First state - initial */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #05fd09;
  transition-duration: 2s;
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: ease-out; */
  /* transition-timing-function: ease-in-out; */
  /* transition-timing-function: ease; */
  /* transition-timing-function: steps(5); */
}

/* Second state - final */
.circle:hover {
  scale: 2;
  background-color: #8a2be2;
  box-shadow: 0 0 10px #8a2be2;
}
