/* Transitions */

body {
  display: grid;
  place-content: center;
  min-height: 50vh;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #09f;
  border-radius: 50%;
  position: relative;
  transition-duration: 2s;
  /* transition-timing-function: linear; -> default */
  /* transition-timing-function: ease; */
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: ease-out; */
  /* transition-timing-function: ease-in-out; */
  /* transition-timing-function: steps(50); -> This one could be useful to animate loading icons */
}

.circle:hover {
  scale: 2;
  background-color: red;
  box-shadow: 0 0 10px red;
}
