/* Transitions */

body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: #333;
}

/* First state - initial */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #05fd09;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.86, -0.06, 0, 0.35);
  /* We can use devtools to configure this */
}

/* Second state - final */
.circle:hover {
  scale: 2;
  background-color: #8a2be2;
  box-shadow: 0 0 10px #8a2be2;
}
